/* Estilos de cards de Blog */

* {
  box-sizing: border-box;
}

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: "sofia_promedium";
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

.blog-card .blog__image-container {
  position: relative;
  z-index: 0;
  height: 200px;
}

.blog-card:hover .blog__image {
  transform: scale(1.3) rotate(3deg);
}

.blog-card .blog__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .blog__description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-card .blog__description .blog__title,
.blog-card .blog__description .blog__subtitle {
  font-family: "sofia_prosemi_bold", sans-serif;
}

.blog-card .blog__description .blog__title {
  line-height: 1;
  margin: 0;
  font-size: 1.8rem;
  color: #514a92;
}

.blog-card .blog__description .blog__subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  color: #929292;
  margin-top: 5px;
}

.blog-card .blog__description .blog__paragraph {
  position: relative;
  margin: 1rem 0 0;
  color: #000000;
}

.blog-card .blog__description .blog__paragraph:first-of-type {
  margin-top: 1.25rem;
}

.blog-card .blog__description .blog__paragraph:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #514a92;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

.blog-card .blog__description:hover .details {
  left: 0%;
}

.blog-card .blog__description .blog__button {
  text-align: right;
}

.blog-card .blog__description .blog__button .audio__button-container {
  color: #514a92;
  display: inline-block;
  position: relative;
}

.blog-card .blog__description .blog__button .audio__button-container:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}

.blog-card .blog__description .blog__button .audio__button-container:hover:after {
  margin-left: 5px;
}

.blog-card .audio__button-container {
  color: inherit;
}

.blog-card .audio__button-container:hover {
  color: #514a92;
}

/* Media Queries */

@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 1000px;
    min-height: 300px;
  }
  .blog-card .blog__image-container {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .blog__description {
    flex-basis: 60%;
  }
  .blog-card .blog__description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .blog__description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
}
