/*Todo este codigo css es mío - Gino*/

.body{
    background-color: rgb(32, 32, 32);
    color: #f9f4f2;
    text-align: center;
}

.header{
    /*padding-top: 0.5rem;*/
    background-color: transparent;
}

.header-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-nav__image-container{
    margin: 0;
    width: 4rem;
}

.header-nav__image{
    max-width: 100%;
}

.header-nav__link-list{
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 1.5rem;
}

.header-nav__link{
    list-style: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.hero{
    background: radial-gradient(circle, rgba(5,7,12,0.3) 0%, rgba(5,7,12,0.9) 100%), url(https://images.ctfassets.net/usf1vwtuqyxm/3MaxUZGQaWZT5hmAQ66qwy/a2dde6b1ebe78f7ffc315dd6ed9e4df4/Quizzes_V2__1___1_.jpg?w=1440&h=1024&fit=fill&fm=webp&q=70);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    padding: 1rem;
}

.hero-container{
    display: flex;
    flex-direction: column;
}

.hero__image-container{
    margin: 0;
    width: 100%;
}

.hero__image{
    max-width: 100%;
}

.hero__title{
    font-size: 2.8rem;
    padding: 0 0.5rem;
}

.hero__subtitle{
    display: none;
}

.hero__button{
    text-decoration: none;
    color:#f9f4f2;
    font-weight: 600;
    background-color: #514a92;
    padding: 0.8rem;
    margin:auto;
    border-radius: 30px;
    width: 210px;
    font-size: 12px;
}

.lastest-news{
    margin: 1rem 0 8rem 0;
}

.lastest-news__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 350px;
    margin: auto;
}

.lastest-news__title{
    font-size: 3rem;
    text-align: left;
    margin: 1rem;
}

.lastest-news__news{
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.lastest-news__new{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    
}

.lastest-news__image-container{
    margin: 0;
    width: 100%;
}

.lastest-news__image{
    width: 10rem;
    position: absolute;
    right: 0;
}

.lastest-news__link-paragraph{
    border-top: 1.5px solid #696b78;
    margin-top: 0;
    padding: 0.2rem;
    text-align: left;
    position: absolute;
    width: 320px;
    right: 1rem;
}

.lastest-news__paragraph{
    font-weight: 600;
    text-decoration: none;
    color: white;
    position: relative;
    letter-spacing: 1px;
    cursor: pointer;
    max-width: 100%;
}

.sections-separator{
    display: flex;
    gap: 1rem;
    margin: 0 auto;
    margin-top: 2rem;
    width: 80%;
}
.sections-separator__line{
    background: none;
    border-bottom: 1px solid #353643;
    margin: 0;
    top: 10px;
    position: relative;
    flex: 1 1;
}
.sections-separator__text{
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.magical-features{
    margin: 1rem 0 5rem 0;
}

.magical-features__container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 350px;
    margin: auto;
}

.magical-features__title{
    font-size: 3rem;
    text-align: left;
    margin: 1rem;
}

.magical-features__features,
.magical-features__features-first,
.magical-features__features-second{
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.magical-features__feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.magical-features__image-container{
    width: 100%;
    height: 100%;
    display: flex;
    clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
}

.magical-features__image{
    max-width: 100%;
}

.magical-features__link-text{
    text-decoration: none;
    position: absolute;
    top: 0.6rem;
    color: white;
    text-align: left;
    border: 1px solid #696b78;
    width: 330px;
    height: 220px;
}
.magical-features__text{
    padding: 7rem 0.2rem 0.5rem 0.2rem;
    margin: 0;
    font-size: 1.8rem;
}

.splide__link-paragraph{
    max-width: 280px;
    margin: 0.5rem auto;
}

.splide__paragraph{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

@media (min-width: 854px){
    .hero{
        background: radial-gradient(circle, rgba(5,7,12,0.3) 0%, rgba(5,7,12,0.9) 100%), url(https://images.ctfassets.net/usf1vwtuqyxm/3MaxUZGQaWZT5hmAQ66qwy/a2dde6b1ebe78f7ffc315dd6ed9e4df4/Quizzes_V2__1___1_.jpg?w=1440&h=1024&fit=fill&fm=webp&q=70);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        padding: 1rem;
        margin-bottom: 3rem;
        min-height: 100vh;
    }

    .hero-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
    }

    .hero__title{
        font-size: 3.7rem;
        padding: 0 0.5rem;
        margin: 1rem;
        max-width: 760px;
    }
    
    .hero__subtitle{
        display: flex;
        font-size: 1rem;
        max-width: 420px;
        padding: 0 2rem;
    }

    .hero__button{
        text-decoration: none;
        color:#f9f4f2;
        font-weight: 600;
        background-color: #514a92;
        padding: 1rem;
        margin-top: 30px;
        margin-top: 20px;
        border-radius: 30px;
        width: 320px;
        transition: all 0.5s;
    }

    .hero__button:hover{
        background-color: #423c75;
    }

    .lastest-news{
        margin: 4rem 0 0 0;
    }
    
    .lastest-news__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 1024px;
        margin: auto;
    }

    .lastest-news__title{
        font-size: 3rem;
        text-align: left;
        margin: 1rem;
    }
    
    .lastest-news__news{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3rem;
    }
    
    .lastest-news__new{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .lastest-news__image-container{
        width: 20rem;
        height: 20rem;
        margin: 0;
    }
    
    .lastest-news__image{
        clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
        width: 100%;
        position: absolute;
    }
    
    .lastest-news__link-paragraph{
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        width: 16rem;
        border: 1px solid #696b78;
        position: absolute;
        width: 300px;
        height: 230px;
        padding: 3rem 1.5rem 0 1.5rem;
        margin: 0;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
        right: 0;
    }
    
    .lastest-news__paragraph{
        max-width: 100%;
    }

    .sections-separator{
        display: flex;
        gap: 1rem;
        margin: 0 auto;
        width: 60%;
    }
    .sections-separator__line{
        background: none;
        border-bottom: 1px solid #353643;
        margin: 0;
        top: 15px;
        position: relative;
        flex: 1 1;
    }
    .sections-separator__text{
        font-weight: 700;
        font-size: 1.5rem;
        text-decoration: none;
        color: white;
        transition: all 0.2s;
    }

    .sections-separator__text:hover{
        border-bottom: 2px solid white;
    }

    .magical-features{
        margin: 1rem 0 5rem 0;
    }
    
    .magical-features__container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        max-width: 1024px;
        margin: auto;
    }
    
    .magical-features__title{
        font-size: 3rem;
        text-align: left;
    }
    
    .magical-features__features{
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .magical-features__features-first,
    .magical-features__features-second{
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    .magical-features__features-second{
        margin-top: 6rem;
    }
    
    .magical-features__feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    
    .magical-features__image-container{
        width: 100%;
        height: 100%;
        display: flex;
        margin: 0;
        clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
    }
    
    .magical-features__image{
        max-width: 100%;
        transition: all 0.5s;
    }

    .magical-features__image:hover{
        transform: scale(1.1);
    }

    .magical-features__link-text{
        display: flex;
        justify-content: center;
        text-decoration: none;
        text-align: left;
        color: white;
        border: 1px solid #696b78;
        top: 10px;
        width: 470px;
        height: 300px;
    }
    .magical-features__text{
        padding: 10rem 0.8rem 0 0.8rem;
        font-size: 2.2rem;
        margin: 0;
        transition: all 0.5s;
    }
}