.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(../images/fondo-harrypotter.jpg) no-repeat;
  background-size: cover;
  background-position: denter;
  color: #fff;
  padding: 200px 0;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.hero__title {
  font-size: 3.2rem;
  font-weight: 00;
  letter-spacing: 0.1rem;
  margin: 0;
  text-align: center;
}
.hero__paragraph {
  font-weight: 400;
  letter-spacing: 0.1rem;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0.5rem 0.5rem 0.5rem #61dafb, 1rem 1rem 1rem #61dafb;
}

@media (min-width: 854px) {
  .hero {
    font-size: 2rem;
  }
}

/*# sourceMappingURL=hero-compilado.css.map */
