@charset "UTF-8";

/* Estilos de la sección Hero */

:root {
  --primary-theme-color: #20232a;
  --secondary-theme-color: #282c34;
  --text-color: #fff;
  --button-text-color: #fff;
  --button-text-color-active: #000;
  --padding-container: 0 2rem;
  --border-radius: 1rem;
  --all-transitions: all 0.25s;
}

.body {
  background-color: var(--primary-theme-color);
  color: var(--text-color);
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.hero__message {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

@media (min-width: 854px) {
  .hero__message {
    text-align: start;
    gap: 2rem;
  }
}

.hero__message-title {
  font-weight: 100;
  font-size: 4.5rem;
  font-family: "Harry Potter", sans-serif;
  margin: 0;
}

.hero__message-subtitle {
  font-weight: 400;
  font-family: "sofia_probold", sans-serif;
  font-size: 2.2rem;
  margin: 0;
}

.hero__message-paragraph {
  font-weight: 300;
  font-family: "sofia_prolight", sans-serif;
  font-size: 1.4rem;
  margin: 0;
}

.hero__message-pages-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

@media (min-width: 854px) {
  .hero__message-pages-container {
    justify-content: stretch;
  }
}

.hero__message-page-button {
  text-decoration: none;
  font-size: 1.325rem;
  background-color: var(--button-color);
  color: var(--button-text-color);
  padding: 1rem 1.5rem;
  font-weight: 800;
  border-radius: 1.5rem;
  transition: var(--all-transitions);
}

.hero__message-page-button--active,
.hero__message-page-button:hover {
  background-color: var(--button-color-active);
  color: var(--button-text-color);
}

.hero__figure-image-container {
  display: flex;
  max-width: 250px;
  border-radius: 35%;
  overflow: hidden;
  margin: 0;
}

@media (min-width: 854px) {
  .hero__figure-image-container {
    max-width: 640px;
  }
}

.hero__figure-image {
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 1024px;
  margin: auto;
  padding: var(--padding-container);
}

@media (min-width: 854px) {
  .hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
