@import url("../fonts/fonts.css");
@import url("./header.css");
@import url("./page.css");
@import url("./footer.css");

* {
  box-sizing: border-box;
}

:root {
  --responsive-width: min(90%, 1250px);
  --primary-font-900: "sofia_problack";
  --primary-font-700: "sofia_probold";
  --primary-font-500: "sofia_prosemi_bold";
  --primary-font-400: "sofia_promedium";
  --primary-font-300: "sofia_prolight";
  --primary-font-200: "sofia_proextra_light";
  --accent-font-bold: "bluu_nextbold";
  --accent-font-titling: "bluu_nexttitling";
  --alternative-accent-font: "masonsans_regular";
  --harry-potter-font: "harry-potter";
  --primary-purple: #6b63b5;
  --primary-purple-hover: #514a92;
  --primary-white: #ffff;
  --main-background: #10141b;
  --main-background-light: #242633;
  scroll-behavior: smooth;
}

.body {
  font-family: var(--primary-font-500), sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: var(--main-background);
}

/* Botones Animados - Personajes y Hechizos */

.hero__message-button-container {
  display: flex;
  justify-content: center;
}

.hero__message-button-animate {
  font-weight: bold;
  text-align: center;
  background-color: var(--primary-purple);
  font-size: 1em;
  padding: 0.4em 1em;
  -webkit-appearance: none;
  appearance: none;
  color: var(--text-color);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px var(--primary-purple-hover);
}

.hero__message-button-animate:active {
  transform: scale(0.9);
  background-color: var(--primary-purple-hover);
  box-shadow: 0 2px 25px var(--primary-purple);
}

.hero__message-title {
  font-family: var(--harry-potter-font), sans-serif;
}

/* Slider section */

/* Blog section */

.blog {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.audio__button {
  width: 220px;
  height: 42px;
  background-color: var(--primary-purple);
  color: var(--primary-white);
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1.5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 40px;
  animation: growUp 1s;
  transition: ease-in;
  border: 0;
  animation-timing-function: ease-in-out;
}

.audio__button-container {
  text-decoration: none;
  color: inherit;
}

.hero-container--responsive {
  width: min(90%, 1024px);
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* Media Queries */

@media (min-width: 1024px) {
  .clear-theme {
    margin-top: 136px;
  }
  .hero-container--responsive {
    flex-direction: row;
  }
}
