@import url("../fonts/fonts.css");
@import url("./header.css");

* {
  box-sizing: border-box;
}

:root {
  --responsive-width: min(90%, 1250px);
  --primary-font-900: "sofia_problack";
  --primary-font-700: "sofia_probold";
  --primary-font-500: "sofia_prosemi_bold";
  --primary-font-400: "sofia_promedium";
  --primary-font-300: "sofia_prolight";
  --primary-font-200: "sofia_proextra_light";
  --accent-font-bold: "bluu_nextbold";
  --accent-font-titling: "bluu_nexttitling";
  --primary-purple: #6b63b5;
  --primary-purple-hover: #514a92;
  --primary-white: #ffff;
  --main-background: #10141b;
  --main-background-light: #242633;
}

.body {
  font-family: var(--primary-font-500), sans-serif;
  position: relative;
  overflow-x: hidden;
  margin-top: 137px;
}

/* Slider section */

/* Blog section */
.blog__posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.blog__posts-image {
  max-height: 595px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  width: 100%;
  position: relative;
  min-height: 1px;
}
