@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

* {
  box-sizing: border-box;
}

.root {
  max-width: 1200px;
  margin: 0 auto;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  color: rgb(32, 32, 32);
  background: url(https://i.postimg.cc/QNJ1kzxj/background.jpg);
}

.banner__intro {
  color: white;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0;
  font-size: 18px;
}

.banner__title {
  font-family: "sofia_prosemi_bold";
  text-align: center;
  color: white;
  margin-top: 30px;
  text-shadow: 2px 2px 4px #000000;
  font-size: 50px;
}

.banner__subtitle {
  font-family: "sofia_prosemi_bold";
  color: white;
  text-align: center;
  font-size: 24px;
}

.banner__text {
  text-align: center;
  color: white;
  font-size: 17px;
}

h2 {
  font-family: "sofia_prosemi_bold";
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, #3222c2 0%, #5590d3 100%);
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  color: white;
}

.card {
  margin: 1rem;
  background: rgb(216, 216, 216);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.1s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

.card:nth-child(2n) h2 {
  background-image: linear-gradient(120deg, #2c968d 0%, #56a7cf 100%);
}

.card:nth-child(4n) h2 {
  background-image: linear-gradient(120deg, #73b6ec 0%, #1c5e94 100%);
}

.card:nth-child(5n) h2 {
  background-image: linear-gradient(120deg, #9567bb 0%, #1638aa 100%);
}

.card__image {
  width: 70%;
}

.card__separator {
  border-bottom: 1px solid #757575;
  opacity: 0.26;
  flex: 1 1;
  position: relative;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

p {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}
