/*Todo este codigo css es mío - Gino*/

.body{
    color: black;
    display: flex;
    flex-direction: column;
}

.main{
    background-color: beige;
}

.quiz-hero-container{
    background: linear-gradient(180deg,rgba(15,30,52,0),#10141b),url(https://images.ctfassets.net/usf1vwtuqyxm/2EhIu9hSWle2ECxxTBPMZy/5c21d5c1cedddac54bc6e9af56e8de58/jim-kay-hogwarts-doorway.jpg?w=1440&fm=webp&q=70);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    color: white;
}

.quiz-hero__principal-information{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 0;
    padding: 1.2rem;
    gap: 0.5rem;
    max-width: 350px;
    height: 33rem;
}

.quiz-hero__element{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.quiz-hero__title{
    font-size: 2.3rem;
    margin: 0;
}

.quiz-data{
    margin: 1rem;
}

.quiz-data__container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 350px;
}

.quiz-data__description-paragraph{
    display: flex;
    justify-content: left;
    margin-left: 2rem;
    gap: 1rem;
}

.quiz-data__image-container{
    margin: 0;
    width: 3.3rem;
}

.quiz-data__image{
    max-width: 100%;
    border-radius: 50%;
}

.quiz-data__information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

.quiz-data__initial-text{
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: normal;
    color: #777;
    margin: 0;
}
.quiz-data__principal-text{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #10141b;
    margin: 0;
}
.quiz-data__date-paragraph{
    display: flex;
    margin-left: 3rem;
    gap: 1rem;
}

.quiz-data__icon-date-container{
    margin-left: -8px;
    border-radius: 50%;
    opacity: .4;
    background-color: #d2d3db;
    width: 40px;
    height: 40px;
    
}

.quiz-data__icon-date{
    margin: 7px;
}

.quiz-data__date-text{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    color: #777;
    font-style: normal;
    letter-spacing: normal;
    margin: 0;
    padding-left: 5px;
}

.line-container{
    opacity: 0;
}

.quiz-paragraph{
    margin: 1rem 0;
}

.quiz-paragraph__container{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: black;
    min-height: 120px;
    max-width: 350px;
    margin: auto;
}

.quiz-paragraph__capital-letter{
    color: #b6a571;
    font-weight: 700;
    font-size: 5.8rem;
    padding-right: 10px;
    margin-bottom: 14px;
    margin-top: 20px;
    float: left;
}

.quiz-paragraph__aditional-text{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    line-height: 1.5;
    color: #757575;
}

.quiz-game__container{
    max-width: 350px;
    margin: auto;
}
.quiz-game__line-separator{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 29px;
}
.quiz-game__first-line{
    opacity: .3;
    background: none;
    margin: 0;
    top: -8px;
    position: relative;
    border-bottom: 1px solid black;
    width: 5rem;
}
.quiz-game__text{
    opacity: .5;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
}
.quiz-game__second-line{
    opacity: .3;
    background: none;
    margin: 0;
    top: -8px;
    position: relative;
    border-bottom: 1px solid black;
    width: 5rem;
}
.quiz-game__image-container{
    max-width: 85%;
    margin: 0 auto;
}
.quiz-game__image{
    border-radius: 8px;
    width: 100%;
}
.quiz-game__button-container{
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.quiz-game__button-game{
    background-color: hsla(146, 79%, 28%, 1);
    border-radius: 8px;
    letter-spacing: 2px;
    font-weight: 700;
    color:hsla(0, 0%, 100%, 1);
    box-shadow: 0 10px 10px rgb(0 0 0 / 30%);
    padding: 1.5rem 2.5rem;
    cursor: pointer;
    text-decoration: none;
}

.quiz-extra-data{
    margin-top: 1rem;
}

.quiz-extra-data__container{
    max-width: 350px;
    margin: auto;
}
.quiz-extra-data__separator-line{
    display: flex;
    gap: 10px;
}
.quiz-extra-data__separator-hr{
    width: 70%;
    opacity: .27;
}
.quiz-extra-data__decorator-container{
    width: 3rem;
    margin: 0;
}
.quiz-extra-data__decorator{
    max-width: 100%;
}
.quiz-extra-data__information{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.quiz-extra-data__image-container{
    margin: 1rem auto;
    width: 7rem;
}
.quiz-extra-data__image{
    max-width: 100%;
    border-radius: 50%;
}
.quiz-extra-data__info{
    margin: 0.8rem 0;
}
.quiz-extra-data__h3{
    margin: 0;
    font-size: 1rem;
    color: #696b78;
    letter-spacing: 2px;
}
.quiz-extra-data__h2{
    margin: 0;
    letter-spacing: 2px;
}

@media (min-width: 854px){
    .quiz-hero-container{
        background: linear-gradient(180deg,rgba(15,30,52,0),#10141b),url(https://images.ctfassets.net/usf1vwtuqyxm/2EhIu9hSWle2ECxxTBPMZy/5c21d5c1cedddac54bc6e9af56e8de58/jim-kay-hogwarts-doorway.jpg?w=1440&fm=webp&q=70);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        min-height: 100vh;
        color: white;
    }

    .quiz-hero__principal-information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        padding: 1.2rem;
        gap: 0.5rem;
        max-width: 800px;
        height: 33rem;
    }

    .quiz-hero__element{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0;
    }
    
    .quiz-hero__title{
        font-size: 3rem;
        margin: 0;
    }

    .quiz-data__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
        max-width: 900px;
        margin: 2rem auto;
    }
    
    .quiz-data__description-paragraph{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    
    .quiz-data__image-container{
        margin: 0;
        width: 4rem;
    }
    
    .quiz-data__image{
        max-width: 100%;
        border-radius: 50%;
    }
    
    .quiz-data__information{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
    }
    
    .quiz-data__initial-text{
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: normal;
        color: #777;
        margin: 0;
    }
    .quiz-data__principal-text{
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        color: #10141b;
        margin: 0;
    }
    .quiz-data__date-paragraph{
        display: flex;
        margin-left: 3rem;
        gap: 1rem;
    }
    
    .quiz-data__icon-date-container{
        margin-left: -8px;
        border-radius: 50%;
        opacity: .4;
        background-color: #d2d3db;
        width: 60px;
        height: 60px;
        
    }
    
    .quiz-data__icon-date{
        margin: 17px;
    }
    
    .quiz-data__date-text{
        display: flex;
        align-items: center;
        font-size: 17px;
        font-weight: 600;
        line-height: 1.5;
        color: #777;
        font-style: normal;
        letter-spacing: normal;
        margin: 0;
        padding-left: 5px;
    }

    .decorator-container{
        display: none;
    }

    .line-container{
        width: 60%;
        margin: auto;
        opacity: .7;
    }
    
    .line__hr{
        max-width: 100%;
    }

    .quiz-paragraph{
        margin-top: 3rem;
        margin-bottom: 0.8rem;
    }

    .quiz-paragraph__container{
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: black;
        max-width: 820px;
        margin: 0;
        margin: auto;
    }
    
    .quiz-paragraph__capital-letter{
        color: #b6a571;
        font-weight: 700;
        font-size: 8rem;
        padding-right: 15px;
        margin-bottom: 20px;
        margin-top: 35px;
        float: left;
    }
    
    .quiz-paragraph__aditional-text{
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        line-height: 1.5;
        color: #757575;
    }

    .quiz-game__container{
        max-width: 900px;
        margin: auto;
    }
    .quiz-game__line-separator{
        display: flex;
        justify-content: center;
        gap: 15px;
        width: 900px;
        margin-bottom: 50px;
    }
    .quiz-game__first-line,
    .quiz-game__second-line{
        opacity: .3;
        background: none;
        margin: 0;
        top: -8px;
        position: relative;
        border-bottom: 1px solid black;
        width: 20rem;
    }
    .quiz-game__text{
        opacity: .5;
        font-size: 0.9rem;
        letter-spacing: 2px;
        font-weight: 500;
        margin: 0;
    }

    .quiz-game__image-container{
        max-width: 54%;
        margin: 0 auto;
    }
    .quiz-game__image{
        border-radius: 8px;
        width: 100%;
    }
    .quiz-game__button-container{
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }
    .quiz-game__button-game{
        background-color: hsla(146, 79%, 28%, 1);
        border-radius: 8px;
        letter-spacing: 2px;
        font-weight: 700;
        color:hsla(0, 0%, 100%, 1);
        box-shadow: 0 10px 10px rgb(0 0 0 / 30%);
        padding: 1.5rem 2.5rem;
        cursor: pointer;
        text-decoration: none;
    }

    .quiz-extra-data{
        margin-top: 8rem;
    }
    
    .quiz-extra-data__container{
        max-width: 850px;
        margin: auto;
    }
    .quiz-extra-data__separator-line{
        display: flex;
        gap: 10px;
    }
    .quiz-extra-data__separator-hr{
        width: 70%;
        opacity: .27;
    }
    .quiz-extra-data__decorator-container{
        width: 3rem;
        margin: 0;
    }
    .quiz-extra-data__decorator{
        max-width: 100%;
    }
    .quiz-extra-data__information{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        margin: 2rem;
        gap: 1.5rem;
    }
    .quiz-extra-data__image-container{
        margin: 0;
        width: 7rem;
    }
    .quiz-extra-data__image{
        max-width: 100%;
        border-radius: 50%;
    }
    .quiz-extra-data__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .quiz-extra-data__h3{
        margin: 0;
        font-size: 1rem;
        color: #696b78;
        letter-spacing: 2px;
    }
    .quiz-extra-data__h2{
        margin: 0;
        font-size: 2rem;
        letter-spacing: 2px;
    }
}