@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

:root {
  --text-color: #ffffff;
  --inverse-text-color: #000000;
  --background-card-color: #dddddd;
  --gradient-color-1: #3222c2;
  --gradient-color-2: #5590d3;
  --gradient-color-3: #2c968d;
  --gradient-color-4: #56a7cf;
  --gradient-color-5: #73b6ec;
  --gradient-color-6: #1c5e94;
  --gradient-color-7: #9567bb;
  --gradient-color-8: #1638aa;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6;
  background: url(https://i.postimg.cc/QNJ1kzxj/background.jpg);
}

/* Intro */

.banner__phrase {
  color: var(--text-color);
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0;
  font-size: 18px;
}

.banner__title {
  text-align: center;
  color: var(--text-color);
  margin-top: 30px;
  text-shadow: 2px 2px 4px var(--inverse-text-color);
  font-size: 40px;
}

.banner__subtitle {
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
}

.banner__text-container {
  text-align: center;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.43;
  margin-right: 60px;
  margin-left: 60px;
}

/* Cards sobre los libros */

.card {
  margin: 1rem;
  background: var(--background-card-color);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.1s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

.card:nth-child(2n) h2 {
  background-image: linear-gradient(120deg, var(--gradient-color-3) 0%, var(--gradient-color-4) 100%);
}

.card:nth-child(4n) h2 {
  background-image: linear-gradient(120deg, var(--gradient-color-5) 0%, var(--gradient-color-6) 100%);
}

.card:nth-child(5n) h2 {
  background-image: linear-gradient(120deg, var(--gradient-color-7) 0%, var(--gradient-color-8) 100%);
}

.card__image {
  width: 65%;
}

.card__title {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  color: var(--text-color);
}

.card__image-container {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

.card__text {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
  padding-left: 35px;
  padding-right: 35px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.root {
  max-width: 1200px;
  margin: 0 auto;
}

/* Media Queries - Responsive */

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

@media screen and (max-width: 550px) {
  .banner__subtitle {
    margin-left: 10px;
    margin-right: 10px;
  }
  .card {
    margin-left: 20px;
    margin-right: 20px;
  }

  .card__text {
    padding-left: 30px;
    padding-right: 30px;
  }
}
