@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #ce9718;
  --card-color: #ffffff;
  --icon-color: #806629;
  --background-color: #dfdbe5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--background-color);
  background-image: url(bck.jpg);
  background-size: cover;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  width: 600px;
  margin: 10px;
  background-color: var(--card-color);
}

.card__container-hechizo {
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 26px;
}

.card__container-uso {
  color: var(--icon-color);
  font-size: 20px;
  text-align: center;
  padding: 15px;
}

.card__line {
  margin: 10px 0;
  width: 50%;
  border: 1px solid var(--primary-color);
}

.card__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.card__buttons-twitter {
  text-decoration: none;
  font-size: 16px;
  background-color: var(--primary-color);
  padding: 10px;
  color: var(--secondary-color);
  border-radius: 4px;
}

.card__buttons .card__buttons-next {
  cursor: pointer;
  border: none;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 4px;
}

.card__buttons-next:focus {
  outline: none;
}

.fa-quote-left {
  font-size: 55px;
  color: var(--secondary-color);
}

.fa-twitter {
  margin-right: 5px;
}
