/* Estilos de sección Hero */

$theme-color: #fff;
$text-color: hsl(0, 0%, 0%);
$inverse-theme-color: #20232a;
$inverse-text-color: #fff;
$padding-container: 0 1rem + 1rem; /* Uso de operador de concatenación */

@mixin texto-hero($ancho-texto: 400) {
  font-weight: $ancho-texto;
  letter-spacing: 0.1rem;
  margin: 0;
  text: {
    align: center;
  }
}

.hero {
  background-color: $theme-color;
  color: $text-color;
  padding: $padding-container;
}

.hero {
  &__title {
    @include texto-hero($ancho-texto: 600);
  }

  &__paragraph {
    @include texto-hero();
  }
}

@media (min-width: 854px) {
  .hero {
    font-size: 2rem;
  }
}
