@import url("../fonts/fonts.css");

:root {
  --text-color: #ffffff;
  --inverse-text-color: #000000;
  --background-card-color: #dddddd;
  --gradient-color-1: #3222c2;
  --gradient-color-2: #5590d3;
  --gradient-color-3: #2c968d;
  --gradient-color-4: #56a7cf;
  --gradient-color-5: #73b6ec;
  --gradient-color-6: #1c5e94;
  --gradient-color-7: #9567bb;
  --gradient-color-8: #1638aa;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  background: url(https://i.postimg.cc/QNJ1kzxj/background.jpg);
}

/* Intro */

.banner__phrase {
  font-family: "Quicksand", sans-serif;
  color: var(--text-color);
  text-align: center;
  margin-top: 120px;
  margin-bottom: 0;
  font-size: 18px;
}

.banner__title {
  text-align: center;
  color: var(--text-color);
  margin-top: 30px;
  text-shadow: 2px 2px 4px var(--inverse-text-color);
  font-size: 40px;
}

.banner__subtitle {
  font-family: "Quicksand", sans-serif;
  color: var(--text-color);
  text-align: center;
  font-size: 22px;
}

.banner__text-container {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.43;
  margin: auto;
  max-width: 1200px;
}

.card__container-line {
  margin: 7px 0;
  width: 40%;
  border: 0.1px solid var(--background-card-color);
  margin: auto;
}

/* Cards sobre los libros */

.card {
  font-family: "Quicksand", sans-serif;
  margin: 1rem;
  background: var(--background-card-color);
  box-shadow: 2px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  transition: all 0.1s linear;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, 0.15);
  transform: translate3D(0, -2px, 0);
}

.card:nth-child(2n) h2 {
  background-image: linear-gradient(120deg, var(--gradient-color-3) 0%, var(--gradient-color-4) 100%);
}

.card:nth-child(4n) h2 {
  background-image: linear-gradient(120deg, var(--gradient-color-5) 0%, var(--gradient-color-6) 100%);
}

.card:nth-child(5n) h2 {
  background-image: linear-gradient(120deg, var(--gradient-color-7) 0%, var(--gradient-color-8) 100%);
}

.card__image {
  width: 80%;
}

.card__title {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: linear-gradient(120deg, var(--gradient-color-1) 0%, var(--gradient-color-2) 100%);
  margin: 0 0 2rem 0;
  font-size: 1.6rem;
  color: var(--text-color);
}

.card__image-container {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.root {
  max-width: 1200px;
  margin: 0 auto;
}

/* Botón para regresar a Landing Page */

.card__return-button {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-button {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}

.return-button a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}

.return-button a:before,
.return-button a:after {
  position: absolute;
  content: "Regresar";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--text-color);
  box-sizing: border-box;
  border-radius: 5px;
}

.return-button a:before {
  color: var(--text-color);
  transform: rotateY(0deg) translateZ(25px);
}

.return-button a:after {
  color: var(--text-color);
  transform: rotateX(90deg) translateZ(25px);
}

.return-button a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* Media Queries - Responsive */

@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

@media screen and (max-width: 550px) {
  .banner__subtitle {
    margin-left: 10px;
    margin-right: 10px;
  }
  .card {
    margin-left: 20px;
    margin-right: 20px;
  }

  .card__text {
    padding-left: 30px;
    padding-right: 30px;
  }
}
